<h1>Edit Product</h1>

<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    name: <input type="text" name="name" value="<%= @product.name %>"> 
  </div>
  <div>
    price: <input type="text" name="price" value="<%= @product.price %>">
   </div> 
   <div> 
    description: <input type="text" name="description" value="<%= @product.description %>">
   </div>
    <div> 
    supplier_id: <input type="text" name="supplier_id" value="<%= @product.supplier_id %>">
   </div>
  <input type="submit" value="Update Product" >
</form>

<div>
  <a href="/products/<%= @product.id %>" data-method="delete">Delete Product</a>
</div>